[user]
	name = Jason Han
	email = {{ .email }}
[core]
	untrackedCache = true
[push]
	autoSetupRemote = true
[worktree]
	useRelativePaths = true
[log]
	date = local
[advice]
	defaultBranchName = false
[alias]
	when-added = log --follow --diff-filter=A --find-renames=40%
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
