# ==================
# XDG Base Directory
# https://wiki.archlinux.org/title/XDG_Base_Directory
# ==================
export XDG_CONFIG_HOME="$HOME"/.config
export XDG_CACHE_HOME="$HOME"/.cache
export XDG_DATA_HOME="$HOME"/.local/share
export XDG_STATE_HOME="$HOME"/.local/state
export NVM_DIR="$XDG_DATA_HOME"/nvm
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export CARGO_HOME="$XDG_DATA_HOME"/cargo
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export HELIX_RUNTIME="$XDG_DATA_HOME"/helix/runtime
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/pass
export VIMINIT='let $MYVIMRC="$XDG_CONFIG_HOME/vim/vimrc" | source $MYVIMRC'
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export GOPATH="$XDG_DATA_HOME"/go
export GOMODCACHE="$XDG_CACHE_HOME"/go/mod
export INPUTRC="$XDG_CONFIG_HOME"/readline/inputrc
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle

PATH="$PATH":"$GOPATH"/bin
PATH="$PATH:$CARGO_HOME/bin"
source "$CARGO_HOME/env"

{{if eq .chezmoi.os "darwin" -}}
# NOTE: This takes precedence over default paths (e.g., /usr/bin).
PATH=~/.local/bin:"$PATH"
PATH="/opt/homebrew/bin:$PATH"

export HOMEBREW_CASK_OPTS='--no-quarantine'

export NVM_SYMLINK_CURRENT=true
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" --no-use
PATH="$NVM_DIR/current/bin:$PATH" # warning: overrides defaults

PATH="$PATH:/Applications/Sublime Text.app/Contents/SharedSupport/bin"
PATH="$PATH:/Applications/Alacritty.app/Contents/MacOS"
PATH="$PATH:/Applications/IINA.app/Contents/MacOS"

# https://stackoverflow.com/a/65277351/14698275
export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)
{{- end }}
