# zmodload zsh/zprof # https://stevenvanbael.com/profiling-zsh-startup

# unset zle_bracketed_paste

HISTFILE="$ZDOTDIR"/.zsh_history
setopt HIST_IGNORE_DUPS
HISTSIZE=5000
SAVEHIST=5000

# PS1="%n@%m: %3~"$'\n'"\$ "

# https://stackoverflow.com/a/2534676/14698275
autoload -U colors && colors
PS1="%{$fg[green]%}%n%{$reset_color%}@%{$fg[blue]%}%m %{$fg[yellow]%}%(5~|%-1~/.../%3~|%4~)"$'\n'"%{$reset_color%}\$ "

export VISUAL='subl -w'
export PAGER=less
export LESS=-FR

# ===========
# Keybindings
# ===========

bindkey \^U backward-kill-line # same as bash

bindkey '^[[Z' reverse-menu-complete

function clear-screen-and-scrollback {
  printf '\ec'
  zle .reset-prompt && zle -R
}
zle -N clear-screen-and-scrollback
bindkey '\e^l' clear-screen-and-scrollback

function run-again {
  zle up-history
  zle accept-line
}
zle -N run-again
bindkey '\e^p' run-again

# https://github.com/iloveitaly/dotfiles/blob/master/.zshrc
# save current command in buffer & restore after next command is run
# https://unix.stackexchange.com/a/74381
autoload -U push-input
bindkey '^X^S' push-input

# open up current command in EDITOR, ctrl+x then ctrl+e
autoload -U edit-command-line
zle -N edit-command-line
bindkey '^X^E' edit-command-line

# ===========
# Completions
# ===========

# rustup completions zsh > $XDG_CONFIG_HOME/zsh/.zfunc/_rustup
# rustup completions zsh cargo > $XDG_CONFIG_HOME/zsh/.zfunc/_cargo
# dprint completions zsh > $XDG_CONFIG_HOME/zsh/.zfunc/_dprint

fpath+="$ZDOTDIR/.zfunc"

# https://gist.github.com/ctechols/ca1035271ad134841284?permalink_comment_id=4624611#gistcomment-4624611
autoload -Uz compinit
if [ "$(find ${ZDOTDIR}/.zcompdump -mtime +1)" ]; then
  compinit
else
  compinit -C
fi

zstyle ':completion:*' insert-tab false

autoload -U select-word-style
select-word-style bash

{{ if eq .chezmoi.os "darwin" -}}
autoload bashcompinit && bashcompinit
complete -C '/opt/homebrew/bin/aws_completer' aws
{{- end }}

# =============
# Miscellaneous
# =============

# https://stackoverflow.com/a/25391867/14698275
[[ $- == *i* ]] && stty -ixon

alias R="R --no-save"

function print-uti {
  mdls -name kMDItemContentType $1
}

# ======
# Vassar
# ======

alias vpn-vassar="sudo openconnect -b -u jjhan --authgroup Vassar \
    vpn.vassar.edu"

# https://mpharrigan.com/2016/05/17/background-ssh.html
alias socks-vassar-start="ssh -fNTM -D 1080 jjhan@vassar"
alias socks-vassar-status="ssh -O check jjhan@vassar"
alias socks-vassar-stop="ssh -O exit jjhan@vassar"

function oath {
  if [ "$#" -ne 1 ]; then
    echo "Usage: $0 ACCOUNT" >&2
  else
    ykman oath accounts code -s $1 | pbcopy
  fi
}


# fzf
{{- if eq .chezmoi.os "darwin" }}
if [[ ! "$PATH" == */opt/homebrew/opt/fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/opt/homebrew/opt/fzf/bin"
fi
source /opt/homebrew/opt/fzf/shell/key-bindings.zsh
# auto-completion
# [[ $- == *i* ]] && source "/opt/homebrew/opt/fzf/shell/completion.zsh" 2> /dev/null
{{ else if eq .chezmoi.os "linux" }}
if [ -x "$(command -v fzf)" ]; then
  source /usr/share/fzf/shell/key-bindings.zsh
fi

alias rpm-list="rpm --query --all --queryformat '%{NAME}.%{ARCH}: %{SUMMARY}\n'"

# https://unix.stackexchange.com/a/524176/384673
function open() {
  nohup xdg-open "$*" >/dev/null 2>&1
}
{{- end }}

alias irssi='irssi --config="$XDG_CONFIG_HOME"/irssi/config --home="$XDG_DATA_HOME"/irssi'

alias ig-stories='instaloader --login jason5122 --stories --no-posts --no-profile-pic'

# zprof
