# zmodload zsh/zprof # https://stevenvanbael.com/profiling-zsh-startup

HISTFILE="$ZDOTDIR/.zsh_history"
setopt HIST_IGNORE_DUPS
HISTSIZE=100000
SAVEHIST=100000

PROMPT='%F{green}%n%f@%F{blue}%m%f %F{yellow}%(5~|%-1~/…/%3~|%4~)%f
$ '
# https://git-scm.com/book/sv/v2/Bilaga-A:-Git-in-Other-Environments-Git-in-Zsh
autoload -Uz vcs_info
precmd_vcs_info() { vcs_info }
precmd_functions+=( precmd_vcs_info )
setopt prompt_subst
RPROMPT=\$vcs_info_msg_0_
zstyle ':vcs_info:git:*' formats '%b'

export VISUAL='subl -w'
export PAGER=less
export LESS=-FR

# ==================================================================================================
# Completions
# ==================================================================================================
fpath=("$ZDOTDIR/completions" $fpath)

zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$ZDOTDIR/cache"
zstyle ':completion:*' insert-tab false

autoload -Uz compinit && compinit -C

autoload -U select-word-style
select-word-style bash

# ==================================================================================================
# Keybindings
# ==================================================================================================
# https://unix.stackexchange.com/questions/522663/ctrl-u-deletes-whole-line-regardless-of-cursor-position
bindkey \^U backward-kill-line

bindkey '^[[Z' reverse-menu-complete

function clear-screen-and-scrollback { printf '\ec'; zle .reset-prompt && zle -R; }
zle -N clear-screen-and-scrollback
bindkey '\e^l' clear-screen-and-scrollback

function run-again { zle up-history; zle accept-line; }
zle -N run-again
bindkey '\e^p' run-again

# Ctrl-X, Ctrl-S: Save current command in buffer and restore after next command is run.
# https://github.com/iloveitaly/dotfiles/blob/master/.zshrc
# https://unix.stackexchange.com/a/74381
autoload -U push-input
bindkey '^X^S' push-input

# Ctrl-X, Ctrl-E: Open up current command in EDITOR.
autoload -U edit-command-line
zle -N edit-command-line
bindkey '^X^E' edit-command-line

# F1: Clear scrollback and re-run previous command.
function clear-screen-and-scrollback-and-run-again { clear-screen-and-scrollback; run-again; }
zle -N clear-screen-and-scrollback-and-run-again
bindkey '^[OP' clear-screen-and-scrollback-and-run-again

# ==================================================================================================
# Miscellaneous
# ==================================================================================================
function maybe_source { [[ $- == *i* && -f $1 ]] && . "$1"; }

{{- if eq .chezmoi.os "darwin" }}
maybe_source /opt/homebrew/opt/fzf/shell/key-bindings.zsh

{{- else if eq .chezmoi.os "linux" }}
maybe_source /usr/share/fzf/shell/key-bindings.zsh

alias rpm-list="rpm --query --all --queryformat '%{NAME}.%{ARCH}: %{SUMMARY}\n'"

# https://unix.stackexchange.com/a/524176/384673
function open { nohup xdg-open "$*" >/dev/null 2>&1; }
{{- end }}

function print-uti { mdls -name kMDItemContentType $1; }
function oath { ykman oath accounts code -s $1; }
function set-title { printf "\e]2;$1\a"; }

alias cm=chezmoi


unfunction maybe_source
# zprof
